<div>
  <h3>{{ note.content }}</h3>
  <h3> {{ note.timeStamp | date: 'medium' }}</h3>
  <span class="button is-small is-info" (click)='addHeartToNote(note.like)'>
    Like <i class="fa fa-thumbs-o-up"></i>
  </span>
  <span class="button is-small is-info" (click)='minusHeartToNote(note.dislike)'>
    Dislike <i class="fa fa-thumbs-o-down"></i>
  </span>
  <span class="button is-small is-danger" (click)='deleteNote(note?.id)'>Delete</span>
  <p>This note has been like {{ note.like - note.dislike || 0}} times and dislike {{ note.dislike || 0 }} times.</p>
 
  <span class="button is-small is-info" (click)='updateTimeStamp()'>Time Posted</span>
  
</div>
